{{yield}}
<!-- <canvas id='canvas' width=500 height=300></canvas> -->

<button {{action "crearActorAleatorio"}}>Crear actor al azar</button>

<p>Contador de actualizaciones: {{contador_de_actualizaciones}}</p>
<p>Cantidad de entidades: {{cantidad_de_entidades}}</p>
<p>Entidades <pre>{{entidades}}</pre></p>
